
.titulo{
    height: 50vh; 
    background-image: url('../img/imgP.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    
}
.titulo{
    margin-top: -1.5rem; 
}

.titulo p,
.tituloS{
    font-size: 55px; 
    font-weight:600; 
    -webkit-text-stroke: 3px rgb(31, 41, 43);
    text-shadow: 4px 2px rgb(255, 0, 0);
}
.titulo p::selection {
    background: #000;
    color: #fff;
}
.pri{
    background: #181818 !important; 
}
.sec{
    background: #444444 !important;
}
.imgQsomos{
    width: 30%;
    height: 200px;
}
.imgQsomos img{
    width: 100%;
    height: 100%;
}
.post{
    width: 25%;
}
.galery img{
    width: 30%;
    height: 250px;
}
.bi-whatsapp{
    color: #27c427;
}
.bi-facebook{
    color: #3f76bd;
}
.bi-twitter{
    color: #39c2cc;
}
.bi-instagram{
    color: #c55a47;
}

.container{
    border-radius: 4px 4px 4px 4px;
}

.placeholder-white::placeholder {
    color: rgb(204, 204, 204) !important;
}
.page-link{
    background: #181818 !important; 
    color: #444444 !important;
}
.page-item.active span.page-link{
    color: rgb(255, 217, 0) !important;
}
.page-item a.page-link{
    color: #fff !important;

}
#ui-id-1{
    z-index: 9999;
}




@media screen and (max-width: 1199px) {
    .post{
        width: 45%;
    }
}

@media screen and (max-width: 950px) {
    .footerResponsivo{
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media screen and (max-width: 430px) {
    .post{
        width: 85% !important;
    }
}